/* VARIABLES */

/* PRIMARY COLORS */

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

/* NEUTRAL COLORS */

$Grey: hsl(234, 12%, 34%);
$LightGrey: hsl(212, 6%, 44%);
$White: hsl(0, 0%, 100%);
$background: #fafafa;

/* FONT VARIABLES */
$primary-font: "Poppins";
$bold: 600;
$light: 200;
$semi-bold: 400;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0.5rem;
  padding-block-start: 1.5rem;
  font-family: Poppins;
  background-color: $background;

  /* TITLE SECTION */
  section#hero {
    padding-inline: 0.55rem;
    padding-block-start: 0.25rem;
    color: $Grey;
    padding-block-end: 3.5rem;

    h1#mainTitle {
      font-weight: $light;
      margin-block: none;
      text-align: center;
    }

    h2#secondTitle {
      margin-block-start: -0.75rem;
      padding-block-end: 1rem;
      text-align: center;
    }

    p.description {
      padding-block-start: 0px;
      padding-inline: 0.5rem;
      line-height: 1.25rem;
      font-size: 0.93rem;
      text-align: center;
    }
  }

  .card {
    position: relative;
    padding: 1.75rem;
    margin: 1.45rem;
    background-color: $White;
    overflow: hidden;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 9px;
  }

  #card1::before {
    background-color: $Cyan;
  }

  #card2::before {
    background-color: $Red;
  }

  #card3::before {
    background-color: $Orange;
  }

  #card4::before {
    background-color: $Blue;
  }

  .cardTitle {
    color: $Grey;
    letter-spacing: 0.05rem;
    padding-block-end: 0.25rem;
  }

  .cardDescription {
    color: $LightGrey;
    font-size: 0.85rem;
    font-weight: $semi-bold;
    padding-block-end: 1.5rem;
  }

  .svgContainer {
    display: flex;
    justify-content: flex-end;
  }
}

/* Styles for viewports between 375px and 1440px */
@media (min-width: 375px) and (max-width: 1439px) {
  /* Add your styles here */
  /* Need to add rules for #card-container and #child-card-container */
  #card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: 40vw;
  }
  #child-card-container {
    display: flex;
  }
}

/* Styles for viewports above 1440px */
@media (min-width: 1440px) {
  /* Add your styles here */
  /* Need to add rules for #card-container and #child-card-container */
}

// TODO: Add rule to control the width of the card elements during transition
// TODO: Add rule to orient cards for Tablet breakpoint
// TODO: Add rule to orient cards for Desktop breakpoint
// TODO: Add rule to adjust size of font for text elements during transitions
